body{
    background-color: #1C2026;
}

h1{
    color: aliceblue;
    text-align: center;
    margin: 3rem;
    
}

h2{
    text-align: center;
}

ul{
    padding: 10px;
}

li{
    border: 2px solid #2a3d38;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    
}

main{
    color: aliceblue;
    background: #1b1b1bec; 
    border-radius: 10px;
    height: 500px;
    overflow: auto;
    width: 50%;
    margin: auto;
}